@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



.category-title{
  border-radius: 0px 20px 0px 20px;
}

/* Footer */
footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F9FAFF;
}

footer ul{
    margin-bottom: 0;
}

footer ul li a{
    transition: 0.2s;
}

footer ul li a:hover{
    color: #4D17E2;
    text-decoration: underline !important;
    background-color: transparent;
}