*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Color Palette */
.color-palette-1{
    color: #0C145A;
}

.color-palette-2{
    color: #7E8CAC;
}

.color-palette-3{
    color: #CCD0DD;
}

.color-palette-4{
    color: #4D17E2;
}
