*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Color Palette */
.color-palette-1{
    color: #C93D8D;
}

.color-palette-2{
    color: rgba(255, 255, 255, 0.8)
}

.color-palette-3{
    color: #CCD0DD;
}

.color-palette-4{
    color: #4D17E2;
}
